Personas/*.class
Personas/Empleados/*.class
Personas/Subscriptores/*.class
Revistas/*.class
Revistas/Articulos/*.class
Database/*.class

# Comando necesario para crear el JavaDoc

# javadoc -d docs/ -version -author -use .\Personas\*.java .\Revistas\*.java .\*.java <- Este es el bueno